* {
    font-family: sans;
}

h1 {
    margin: 0;
}

.title {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

.content > *:not(:first-child) {
    margin-top: 20px;
}

.image {
    width: 100%;
    max-width: 500px;
}